{% extends "layouts/default.html" %}
{% block title %}Contact - Super Rentals{% endblock %}
{% block content %}
<div id="main">
  <div class="jumbo">
    <div class="right"></div>
    <h2>Contact Us</h2>
    
    <p>Super Rentals Representatives would love to help you<br> choose a destination or answer any questions you may have.</p>
    
    <address>Super Rentals HQ<p>1212 Quicklisp Avenue<br> Roswell, NM 88201</p><a href="tel:575.624.6700">+1 (575) 624-6700 <br></a><a href="mailto:superrentalsrep@lisp-lang.org">superrentalsrep@lisp-lang.org</a></address><a class="button" href="/about">About</a>
  </div>
</div>
{% endblock %}
