{% extends "layouts/default.html" %}
{% block title %}Home - Super Rentals{% endblock %}
{% block content %}
<div id="main">
  <div class="jumbo">
    <div class="right"></div>
    <h2>Welcome to Super Rentals!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p><a class="button" href="/about">About Us</a>
  </div>
  <div class="rentals">
    <label>
      <span>Where would you like to stay?</span>
      <input class="light" type="text" name="search" hx-post="/search" hx-trigger="keyup changed delay:500ms" hx-target=".results" hx-indicator=".htmx-indicator">
    </label>
    <ul class="results">
     {% for rental in rentals %} 
      <li>
	<article class="rental">
	  <button class="image" type="button" _="on click toggle .large then if #view-caption.textContent === 'View Larger' then set #view-caption.textContent to 'View Smaller' else set #view-caption.textContent to 'View Larger'">
	    <img src="{{rental.image}}" alt="An image of {{rental.title}}">
	    <small id="view-caption">View Larger</small>
	  </button>
	  <div class="details">
	    <h3><a href="/rentals/{{rental.id}}">{{rental.title}}</a></h3>
	    <div class="detail owner"><span>Owner: </span>{{rental.owner}}</div>
	    
	    <div class="detail type"><span>Type: </span>{{rental.category}}</div>
	    
	    <div class="detail location"><span>Location: </span>{{rental.city}}</div>
	    
	    <div class="detail bedrooms"><span>Bedrooms: </span>{{rental.bedrooms}}</div>
	    
	  </div>
	  
	  <div class="map">
	    
	    <img alt="A map of {{rental.title}}" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/{{rental.lng}},{{rental.lat}},9/150x150@2x?access_token=pk.eyJ1IjoicmFqYXNlZ2FyYyIsImEiOiJja2w2MzV0M2MyZHJnMzBtczA3ODJsOWZ2In0.pwUodXBD7MxNMF38fs0UsQ" width="150" height="150">
	    
	  </div>
	  
	</article>
	
      </li>
      {% endfor %}
      
      
    </ul>
    
  </div>
</div>
{% endblock %}
