{% extends "layouts/default.html" %}
{% block title %}Rentals - Super Rentals{% endblock %}
{% block content %}
<div id="main">
  <div class="jumbo">
    
    <div class="right tomster"></div>
    
    <h2>{{rental.title}}</h2>
    
    <p>Nice find! This looks like a nice place to stay near San Francisco.</p>
    
    <a class="button share" href="#">Share on Twitter</a></div>
  <article class="rental detailed">
    
    <button class="image" type="button" _="on click toggle .large then if #view-caption.textContent === 'View Larger' then set #view-caption.textContent to 'View Smaller' else set #view-caption.textContent to 'View Larger'">
      
      <img src="{{rental.image}}" alt="An image of Grand Old Mansion">
      
      <small id="view-caption">View Larger</small>
      
    </button>
    
    <div class="details">
      
      <h3>{{rental.title}}</h3>
      
      <div class="detail owner"><span>Owner: </span>{{rental.owner}}</div>
      
      <div class="detail type"><span>Type: </span>{{rental.category}}</div>
      
      <div class="detail location"><span>Location: </span>{{rental.city}}</div>
      
      <div class="detail bedrooms"><span>Bedrooms: </span>{{rental.bedrooms}}</div>
      
      <div class="detail description">
	
	<p>{{rental.description}}</p>
	
      </div>
      
    </div>
    
    <div class="map"><img class="large" alt="A map of Grand Old Mansion" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/{{rental.lng}},{{rental.lat}},12/894x600@2x?access_token=pk.eyJ1IjoicmFqYXNlZ2FyYyIsImEiOiJja2w2MzV0M2MyZHJnMzBtczA3ODJsOWZ2In0.pwUodXBD7MxNMF38fs0UsQ" width="894" height="600"></div>
    
  </article>
</div>
{% endblock %}
